/* Text Color Variables */
.text-primary {
    color: #325481 !important;
}
.text-secondary {
    color: #2c89c9 !important;
}
.text-dark {
    color: #6f8197 !important;
}


/* Background Color Variables */
.bg-primary {
    background-color: #325481 !important;
}
.bg-secondary {
    background-color: #2c89c9 !important;
}
.bg-light {
    background-color: #e1ebf8 !important;
}
.bg-dark {
    background-color: #6f8197 !important;
}

/* Button Color Variables */
.btn-primary {
    background-color: #325481 !important;
    border-color: #325481 !important;
    color: #ffffff !important;
}
.btn-secondary {
    background-color: #2c89c9 !important;
    border-color: #2c89c9 !important;
    color: #ffffff !important;
}
.btn-dark {
    background-color: #6f8197 !important;
    border-color: #6f8197 !important;
    color: #ffffff !important;
}

/* Border Color Variables */
.border-primary {
    border-color: #325481 !important;
}
.border-light {
    border-color: #e1ebf8 !important;
}

/* Padding Variables */
.pb-100 {
    padding-bottom: 100px !important;
}